.card-title1{
    display:inline;
    color:#fff;
    font-size: 10px;
    margin-right:5vh;
    height: 1px; 
    padding:4vh;
 }
 
 .p{
   padding:1px;
 }

 .card{
   max-width: fit-content;
 }

 @media (max-width: 768px) {
  #sizing {
        display:none;
}
}
@media (max-width: 768px) {
  .card {
       max-width:300px;
}
}
@media (max-width: 768px) {
  .card-title1 {
       display:contents;
}
}