  html,body {
    background-color: #101010;
    padding:10px;
  }
  
  .rotate {
    border-top: 18px solid blue;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
  }
 
@keyframes rotate {
    0% {transform:rotate(360deg); border-top: 18px solid transparent;}
    100% {transform:rotate(0deg);}

 
}

.card{
  position:relative;
  margin:auto;
  display:flex;
  opacity: 0.95;
  box-shadow: 0 10px 50px rgba(161, 31, 31, 0.25), 0 10px 10px rgba(77, 17, 219, 0);
  -webkit-transition:all .3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width:100%;
  max-width:fit-content;
  max-height:fit-content;
  height: auto;
  -webkit-font-smoothing: antialiased;
  background-color: #bebebe2c;
  overflow:true;
}

.card:hover{
box-shadow: 0 14px 50px rgba(23, 7, 167, 0.25), 0 10px 10px rgba(25, 0, 255, 0.493);
} 

.size{
  width:25vh;
  height: 25vh;
  padding:10px;
}

.card-text{
  
}
.card-title{
  display:block;
  color:#fff;
  font-size: 15px;
  margin-right:5px;
  height:auto;
}

@media(max-width:715px){
  h5{word-break:break-word}
  .size{
      max-height:234.67px;
      max-width:234.67px;
      height:inherit;
  }
}