.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

html{
  overflow-x:hidden;
  font-size: 15px;
  color:white;
  height:1px;
}

.searchbar {
  background: rgba(51, 49, 49, 0.5);
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color:white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navpad{
  padding-top:100px;
}



@media(min-width:796px)
{
  .searchbar{
    width:50%;
  }
}


/* scrollbar stuff */
::-webkit-scrollbar {
  width: 20px;
}
/* scrollbar stuff */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
  height: 10%;
}
 /* scrollbar stuff */
::-webkit-scrollbar-thumb {
  background: rgba(76, 0, 255, 0.137); 
  border-radius: 5px;
}
/* scrollbar stuff */
::-webkit-scrollbar-thumb:hover {
  background: #3602f1f6; 
}

.Collapsible {
  background-color: rgba(51, 49, 49, 0.5);
  size:100%;
}


.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #bebebe2c;
  border-top: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background: rgba(190, 190, 190, 0.173);
  color: white;
  }

  




