.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

html{
  overflow-x:hidden;
}

.searchbar {
  background: rgba(51, 49, 49, 0.5);
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color:white;

  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  text-align: center;
  margin:auto;
  
 
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}

.navpad{
  padding-top:100px;
}


.kayn{
  height: 100%;
  width: 100%;
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;

  
}

.card{
  position:relative;
  margin:auto;
  display:flex;
  opacity: 0.95;
  box-shadow: 0 10px 50px rgba(161, 31, 31, 0.25), 0 10px 10px rgba(77, 17, 219, 0);
  -webkit-transition:all .3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width:100%;
  max-width:fit-content;
  max-height:fit-content;
  height: auto;
  -webkit-font-smoothing: antialiased;
  background-color: #bebebe2c;
  overflow:true;
}

@media(min-width:796px)
{
  .searchbar{
    width:50%;
  }
}


/* scrollbar stuff */
::-webkit-scrollbar {
  width: 20px;
}
/* scrollbar stuff */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
  height: 10%;
}
 /* scrollbar stuff */
::-webkit-scrollbar-thumb {
  background: rgba(76, 0, 255, 0.137); 
  border-radius: 5px;
}
/* scrollbar stuff */
::-webkit-scrollbar-thumb:hover {
  background: #3602f1f6; 
}

.Collapsible {
  background-color: rgba(51, 49, 49, 0.5);
}


.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #bebebe2c;
  border-top: 0;

 
}


.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background: #bebebe2c;
  color: white;
  }

  




